.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.card {
  background-color: #E6E8EC;
  padding: 25px 15px;
  min-height: 300px;
  margin-bottom: 20px;
}

.features:hover {
  text-decoration: none;
}
